coverage/
*.tsbuildinfo
node_modules/
.ultra.cache.json
.DS_Store
tmp/
build/
dist/
.direnv/

# files
/src/tsconfig.json
/dist
/Args
/AutoCorrect
/BuiltInOptions
/CliApp
/CliConfig
/Command
/CommandDirective
/Exists
/HelpDoc
/Options
/Parameter
/Primitive
/Prompt
/ShellType
/Terminal
/Usage
/ValidationError
